$base-color: #0ad896;
$accent-color: #ff8900;
$secondary-color: #fff;
$base-border-radius: 0.75em;
$base-border: 0.0625em solid #d7d7d7;
$secondary-border: 0.0625em solid #d7d7d7;
$secondary-border: 0.0625em solid #141638;
$base-box-shadow: 0em 1.375em 2.125em rgba(174, 181, 190, 0.0936954);
$base-font-color: #141638;
$secondary-font-color: #fff;